<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/x-icon" href="<%=resource.img.favicon%>">
    <link rel="stylesheet" type="text/css" href="<%=resource.css.index%>">
</head>
<body>
<div id="container"><%-reactHtml%></div>
<script type="text/javascript" src="http://localhost:9090/<%=resource.js.index%>"></script>
</body>
</html>
