<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <!--<link rel="stylesheet" type="text/css" href="static/css/<%=resource.css.index%>.css">-->
</head>
<body>
<div id="container"><%-reactHtml%></div>
<!--<script type="text/javascript" src="static/js/<%=resource.js.index%>.js"></script>-->
</body>
</html>
